*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    position: sticky;  
    top:0px;
}

.nav p{
    background-color:gray;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
    /* justify-content: space-around; */
}

.section1{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-left:15px;
    min-max: 40vh;
    text-align: justify;


}

.section1 p{
    text-align: center;
    margin: 10px 0px;
}

.section1 h2{
    text-align: center;
}

.section2{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-left:15px;
    min-max: 40vh;
    text-align: justify;



}

.section2 p{
    text-align: center;
    margin: 10px 0px;
}


.section2 h2{
    text-align: center;
}

.section3{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-left:15px;
    min-max: 40vh;
    text-align: justify;

    
}

.section3 p{
    text-align: center;
    margin: 10px 0px;
}


.section3 h2{
    text-align: center;
}

.aside{
    background-color:gray;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    padding-top: 12px;

}
.footer{
    background-color: black;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    padding-top: 12px;

}